---
const { title, description, subtitle } = Astro.props
---

<section class="flex flex-col gap-3  z-10">

{
 subtitle && <h2 class="bs-h2" set:html={subtitle} />
}

{
 title && <h1 class="bs-h1" set:html={title} />
}

{
 description && <p class="bs-body-text" set:html={description} />
}

<div class="content">
  <slot name="content" />
</div>

</section>

<style is:global>
@import "tailwindcss";
h1 span { @apply bg-gradient-to-r from-blue-500 to-teal-400 bg-clip-text text-transparent}

.content { @apply [&_a]:text-blue-600 font-semibold }

.content pre,
.content code {
  @apply text-gray-600 font-normal
}
</style>