---

import { getCollection } from "astro:content"

let posts = (await getCollection("slides")).sort((a, b) => a.data.order - b.data.order)

const index = posts.findIndex((post) => {
  return Astro.request.url.includes(post.slug)
})
const nextPost = posts[index + 1]
const prevPost = posts[index - 1]
---

<nav class="prev-next grid grid-flow-col gap-3 select-none">
  <a
    class:list={["btn text-bs-foreground-dark", {"opacity-40 pointer-events-none" : !prevPost}]}
    href={prevPost?.slug ? `/slides/${prevPost.slug}/` : '/#'}>
    Prev
  </a>
  <a
    class:list={["btn text-bs-foreground-dark", {"opacity-40 pointer-events-none" : !nextPost}]}
    href={nextPost?.slug ? `/slides/${nextPost.slug}/` : '/#'}>
    Next
  </a>
</nav>

<style  scoped>

</style>
