---
import '../assets/css/global.css'
import "../assets/css/base.css"
import "../assets/css/typography.css"
import "../assets/css/layout.css"
import "../assets/css/buttons.css"
import Logo from '../assets/blackspike-logo.svg'
import { Font } from 'astro:assets';
import { ClientRouter } from "astro:transitions";
import PrevNext from "../components/PrevNext.astro"

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en" class="bg-bs-surface-0 flex items-center justify-center h-dvh w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>blackspike - { title ? title : '10 cool modern css tips' }</title>

    <meta name="description" content={ description } />
    <meta name="theme-color" content="#eee" />

    <meta property="og:title" content={ title ? title : '10 cool modern css tips' } />
    <meta property="og:description" content={ description } />
    <meta property="og:url" content="https://css-tips.blackspike.com">
    <meta
      property="og:image"
      content={ image ? image : "https://css-tips.blackspike.com/1200x630.jpg"}
    />

    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-inter-display" preload />

    <ClientRouter />

  </head>

  <body class="group w-[960px] h-[540px] overflow-hidden relative">

    <main class="overflow-hidden h-full w-full relative grid items-end p-10"><slot /></main>

    <div class="absolute bottom-10 right-10 z-30 opacity-0 group-hover:opacity-100 transition-opacity duration-400">
      <PrevNext />
    </div>

    <a class="absolute top-10 left-10" href="https://www.blackspike.com"><Logo height="48" /></a>

    <script>
      // Auto mode
      // document.addEventListener("astro:page-load", () => {
      //   const next = document.querySelector('.js-next')
      //   setTimeout(() => {
      //       next.click()
      //   }, 10000)
      // })
    </script>
  </body>
</html>
